.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: var(--shadow-light);

  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.home-view {
  background-color: #fff;

  // height: 80rem;
  flex: 1;
}

.detail {
  font-size: 1.4rem;

  padding: 3rem;
  background-color: var(--color-white);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description,
.description__caption {
  padding: 1.5rem 3rem;
  display: flex;
}

.description {
  // flex: 0 0 60%;

  &__item--left {
    width: 60%;
  }

  &__item--right {
    background-image: url(/img/community-service.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
  }
}

.description__caption {
  padding-top: 10rem;
  justify-content: space-between;

  &--item {
    flex: 0 0 30.3%;
  }

  &--image {
    margin: 2rem 0 0 0;
    height: 150px;
    width: 80%;

    background-size: cover;
  }
}

.image-one {

  background-image: url(/img/planting-community.jpg);
}

.image-two {

  background-image: url(/img/helmet.jpg);
}

.image-three {
  background-image: url(/img/safety-man.jpg);
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
