.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.8),
      rgba($color-primary-light, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 700px, 50% 100%, 0 700px);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__name-logo {
    list-style: none;
    float: left;
  }

  &__name-logo li {
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
  }

  .header__logo {
    height: 4.5rem;
  }

  .header__name {
    color: $color-white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4em;
    // letter-spacing: 0.1em;
    vertical-align: top;
  }

  .header__heading-container {
    height: 50vh;
    width: 75vw;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.9),
      rgba($color-primary-dark, 0.9)
    );
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba($color-black, 0.2),
      0 6px 20px 0 rgba($color-black, 0.19);
    /* rgb(92, 223, 255) */
  }

  .header__heading-container--text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}